 <div class="home-unit">
        <h1>Welcome to Hate Mate</h1>
        <p>We hope you have some fun, hate a little and find love.</p>
        <p><a href="/users/new" class="btn btn-primary btn-large">Become a Hater</a></p>
      </div>

 <div class="home-unit">
        <h2>Categories of Hate</h2>

        <p>We hope you have some fun, hate a little and find love.</p>
      </div>



<div class="hero-unit">
<h1>This is a Hate</h1>
    <ul>
      <li><%= @hate.category %></li>
      <li><%= @hate.post %></li>
       <li><%= @hate.hate_rate %></li>
    </ul>
    </div>