 <div class="home-unit">
        <h1>Welcome to Hate Mate</h1>
        <p>We hope you have some fun, hate a little and find love.</p>
        <p><a href="/users/new" class="btn btn-primary btn-large">Become a Hater</a></p>
      </div>

