<div class="hero-unit">
  <h1>
  Welcome to Hate Mate </h1>

  <h4> Hate Mate was founded in Fishburners <br>Ideation Lab Workroom 2 by WBvG and MJ. Please enjoy! </h4>


<img src="/images/i_hate_that.png" class="about-img">
<img src="/images/me_too.png" class="about-img" width="689" height="189">

</div>
